@model U1_evaluacion_sumativa.Models.DireccionamientoIp

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DireccionamientoIp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpNetwork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpNetwork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantIptotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantIptotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantIpHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantIpHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpBroadcast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpBroadcast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioProyecto.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
