@model U1_evaluacion_sumativa.Models.DireccionamientoIp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DireccionamientoIp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpNetwork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpNetwork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantIptotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantIptotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantIpHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantIpHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpBroadcast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpBroadcast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioProyecto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
